[
 {:db/id       #db/id[:db.part/user]
  :item/index  0
  :item/status :item.status/todo
  :item/text   "Write TODO app"}

 {:db/id       #db/id[:db.part/user]
  :item/index  1
  :item/status :item.status/todo
  :item/text   "Add bonus features"}

 {:db/id       #db/id[:db.part/user]
  :item/index  2
  :item/status :item.status/done
  :item/text   "Create DB schema"}

 {:db/id       #db/id[:db.part/user]
  :item/index  3
  :item/status :item.status/done
  :item/text   "Insert dummy data into DB"}

 ]